<div id="add-new-habit-modal">
  <div class="add-new-habit-modal__wrap">
    <div class="add-new-habit-modal__heading">Add new habit</div>
    <div class="add-new-habit-modal__body loader">
      <div class="add-new-habit-modal__body__wrap">
        <div class="add-new-habit-modal__body__form">
          <form method="post" id="newHabitForm">
            <div class="form-item">
              <label for="name">
                <span>Enter habit name</span>
                <input type="text" id="name" name="habit" />
              </label>
            </div>
            <div class="form-item flex aic">
              <button class="button" type="submit" id="submitAddHabitButton">Save</button>
              <button class="button" type="button" id="closeAddHabitButton">Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
