<div class="habit">
  <div class="flex aic habit-wrap">
    <div class="habit__info">
      <div class="habit__name">Running</div>
      <div class="habit__creation-date">13 Dec. 2023</div>
      <div class="habit__creation__info">
        <div class="flex aic">
          <div class="habit__creation__info__achieve">Daily</div>
          <div class="habit__creation__info__achieve">5 done</div>
        </div>
      </div>
    </div>
    <div class="habit__action">
      <button class="button" id="habitDone">
        <img src="/images/checked.svg" alt="Done" />
      </button>
      <button class="button" id="habitNotDone">
        <img src="/images/close.svg" alt="" />
      </button>
    </div>
  </div>
</div>
