<section class="section">
  <div class="section__wrap">
    <div class="section__wrap__top">
      <div class="heading">Hi, Radhakanta</div>
      <div class="sub-heading"><%const today = new Date();%><%=  today.toLocaleString('en-US', {
        year: 'numeric',
        month: 'short',
        day: 'numeric'
      });%></div>
    </div>

    <div class="section__wrap__bottom">
      <div class="flex aic section__wrap__bottom__flex">
        <div class="section__wrap__bottom__heading flex-col-half">
          Today's Habits
        </div>
        <div
          class="section__wrap__bottom__action flex-col-half flex aic flex-col-half--jce"
        >
          <button class="add-habit-button" id="addHabitButton">
            <img src="/images/add-icon.svg" alt="Add habit button" id="addHabitButtonImg" /> Add habit
          </button>
          <!-- <a href="/history" class="view-history-button button">Detailed View</a> -->
        </div>
      </div>
      <div class="habits">

        <div class="no-habits-found tac <%= habits.length ? '' : 'active' %>" id="noHabitFoundContainer">
          <img src="/images/no-habits.jpg" alt="No habits" />
        </div>

        <%- include('_add-new-habit-form'); %>

        <div id="habitsbox">
            <%- include('_habit', { habits: habits }); %>
        </div>

      </div>
    </div>
  </div>
</section>
